<p id="notice"><%= notice %></p>

<h1>Employees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th id="avg-total-price">Average Total Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.calc_average %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>

<br>
<br>
<button type="button" onclick="alert('Insert jQuery Here');">Show Average Total Price</button>

<!-- For 'Show Average Total Price' button:
Add jQuery to select 'Average Total Price' table column from DOM (on page load, is hidden)
When button is clicked, show the column
Text of button is changed to 'Hide Average Total Price'
When button is clicked, hide the column (display:none) -->