<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Total price</th>
      <th>Created at</th>
      <th>Num units</th>
      <th>Employee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.total_price %></td>
        <td><%= order.created_at %></td>
        <td><%= order.num_units %></td>
        <td><%= order.employee.name %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>

<!-- To show orders from 90 days ago:
  now = Date.today
  ninety_days_ago = (now -90)
only show orders where order.created_at falls between range of now and ninety days ago -->

<!-- To order list by Employee signup_date:
create a hidden column that displays employee.signup_date
sort table by this hidden column -->